<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Bestellungs Ergebnis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Bestellungs Ergebnis</h1>
    <p>Gesamtpreis: €{{ '%.2f' % gesamtpreis }}</p>
    {% if pfandpreis > 0 %}
        <p>Inklusive Pfand: €{{ '%.2f' % pfandpreis }}</p>
    {% endif %}
    <a href="/neue_bestellung" class="new-order-button">Neue Bestellung</a>
</body>
</html>
